<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bacsi/trangchu/lichkham/cho-xac-nhan}">Xác nhận lịch khám</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bacsi/profile}">Thông tin cá nhân</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bacsi/logout}">Đăng xuất</a>
          </li>
        </ul>
      </div>
</body>
</html>